.outline-blue{
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	font-family: Montserrat;
	font-style: normal;
	padding: 20px 40px;
	letter-spacing: 0.22em;
	text-transform: uppercase;
	border: 1px solid #4B69FF;
	color: #4B69FF;
	background: none;
	display: block;
	max-width: 400px;
    text-align: center;
    text-decoration: none;
	path{stroke: $blue;}
	cursor: pointer;
	&:hover{
		color: white;
		background-color: $blue;
		path{stroke: #fff;}
	}
}


.outline-white{
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	font-family: Montserrat;
	font-style: normal;
	padding: 20px 40px;
	letter-spacing: 0.22em;
	text-transform: uppercase;
	border: 1px solid #ffffff;
	color: #ffffff;
	background: none;
	display: block;
	max-width: 200px;
	margin: 0 auto;
    text-align: center;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	&:hover{
		color: $blue;
		background-color: #ffffff;
	}
}


.submenu-dinamic{
	button{
		position: absolute;
		bottom: 2rem;
		left: 50%;
		transform: translateX(-50%);
		width: 80%;
		&:hover{path{stroke: $blue;}}
	}
	.imgArrow{
		position: absolute;
		left: 15px;
		top: 24px;
		transform: rotate(180deg);
		path{stroke: #ffffff;}
		
	}
}

a{color:$blue}

@mixin button_blue{
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    font-family: Montserrat;
    font-style: normal;
    padding: 20px 40px;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    background-color: #4B69FF;
    color: white;
    border: none;
	color: white;
	&:hover{
		background-color: #F4794F;
	}
}

@mixin text_12{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 1.6;
}

@mixin text_30_a{
	font-style: normal;
	font-weight: bold;
	// font-size: 30px;
	@include scss-font-lock(15px, 30px, 600px, 1700px);
	line-height: 1.5;
}

